
.feedbackerr,.signinerr,.emailerr,.usernameerr,.passworderr{
display:none;
}

body{
background-color:silver;

}

.container-fluid{
height:70px;
}
.ls_site{
height:30px;
}
.ls_site{
width:200px;
}
.vis{
font-size:15px;
}
select{
font-size:12px;
height:24px;
}
.ls_example{
padding:5px;
padding-top:10px;
}

.lgfailed,.category_errmsg{
display:none;
}
.ls_content li{
float:none;
}
.label{
width:250px;
overflow:hidden;
font-size:15px;
background-color:#8b9dc3;
}

.icon-ban-circle:hover{
color:red;
}


.fullback{
width:100%;
}

.ls_mine{
width:70%;
height:100%;
}
.ls_mine1{
width:100%;

height:100%;
float:left;
}
.ls_demo{
background-color:#8b9dc3;
}
.scnt{
float:right;
}
p{
text-transform: capitalize;
}
