a{
color:#DEB887;
font-size:16px;
}
a:hover{
text-decoration:none;
}
i:hover{
cursor:pointer;
}
.navbar{
margin-top:-30px;
}
.ragu{
background-color:silver;
}
#main{
width:250px;
padding-left:8%;
padding-top:2%;
}
i{
float:right;
}
i:hover{
color:red;
}
.stickynote0 {
margin-left:-30%;


}

.ls_demo{
font-size:20px;
width:280px;
background-color:gray;
border-radius:0px ;
padding:12px;

margin-top:5%;
height:400px;
}
.ls_content{
overflow-y: scroll;
overflow-x: hidden;
height:350px;
}
.like{
float:right;
}
.count{
margin-right:10%;
float:right;
}
.ls_example{
margin-left:40%;
}
.name{
font-size:25px;
margin-left:50px;
margin-top:50px;
}
table{
margin-top:-50px;

}
body{/*
background-color: #fff; 
background-image:linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),linear-gradient(#eee .1em, transparent .1em);
background-size: 100% 1.2em;*/
}
.icon-share,.icon-thumbs-up , .icon-plus{
float:right;
}
.err1,.err2,.err3{
color:red;
font-size:17px;
display:none;
}
.titl{
color:#FFFAF0;
}



@media(max-width:400px){
	body{
		font-size:8px
	}
.ls_demo{
font-size:14px;
width:150px;

padding:5px;
}

.ls_content{
overflow-y: scroll;
width:130px;
}

}

@media(max-width:500px){
	body{
		font-size:9px
	}
	.note_common {
	display:hidden;
	}
.ls_demo{
font-size:14px;
width:200px;

padding:5px;
}

.ls_content{
overflow-y: scroll;
width:180px;
}

}


@media(max-width:600px){
	body{
		font-size:9px
	}
	.note_common {
	display:none;
	}
.ls_demo{
font-size:14px;
width:200px;
border-radius:15px ;
padding:5px;
}

.ls_content{
overflow-y: scroll;
width:260px;
}

}

@media(max-width:800px){
	body{
		font-size:10px
	}
	.note_common {
	display:none;
	}
.ls_demo{
font-size:14px;
width:200px;
border-radius:15px ;
padding:5px;
}

.ls_content{
overflow-y: scroll;
width:180px;
}

}

@media(max-width:1000px){
	body{
		font-size:12px
	}
.ls_demo{
font-size:14px;
width:250px;
border-radius:15px ;
padding:5px;
}

.ls_content{
overflow-y: scroll;
width:230px;
}

}


@media(max-width:320px){
	body{
		font-size:12px
	}
.panel-header{

width:300px;


}

.ls_content{

width:300px;
}

}

#ls_demo{
color:white;	!important
}
.label{
width:220px;
overflow:hidden;
font-size:15px;
}

 .liked_site{
height:200px;   !important
width:300px; !important
}
.ls_content{
background-color:silver;
width:100%;
}
.notification{

margin-left: 10%;
}
.panel{
padding:5px;
padding-left:20px;
}
.titl{
font-size:20px;
}
.ls_site{
padding-left:5px;

color:white;
}
.linklbl{

padding-left:5px;

color:white;

}

.ls_site{
padding-top:2%;
}