/*
	 Customized Scroll
	 by Chris Coyier
	 http://css-tricks.com
*/

*					{ margin: 0; padding: 0; }
body				{ font-size: 12px; line-height: 30px; font-family: Georgia, serif; 
					  background: url(../images/clown.jpg) top left no-repeat #fbfbfb; }

#page-wrap			{ width: 244px; margin: 50px auto; position: relative; }

.scroll-pane 		{ width: 234px; overflow: auto; padding-right: 10px; height: 400px; }

.bottomshadow 		{ position: absolute; top: 375px; left: -47px; z-index: 9999; }

.jScrollPaneContainer 	{ position: relative; overflow: hidden; z-index: 1; }

.jScrollPaneTrack 		{ position: absolute; cursor: pointer; right: 0; top: 0; height: 100%;
						  background: url(../images/bar.jpg) top center repeat-y; padding: 3px; }

.jScrollPaneDrag	{ position: absolute; background: url(../images/ball.png) center center no-repeat;
					  cursor: pointer; overflow: hidden; }