.alert-messages {    
    top: 80px;
    left: 0;
    right: 0;
    position: fixed;
	z-index: 100;
}


.alert-messages1 {    
    bottom: -10px;
    left: 0;
    right: 0;
    position: fixed;
	z-index: 100;
}


@media screen and (max-width: 600px) {
	.alert-messages {
top: 40px;
    position: absolute;
	
}
}

@media screen and (max-width: 800px) {
	.alert-messages {
top: 70px;
    position: absolute;
	
}
}
@media screen and (max-width: 1000px) {
	.alert-messages {
top: 50px;
    position: absolute;
	
}
}
@media screen and (max-width: 400px) {
	.alert-messages {
top: 50px;
    position: absolute;
	
}
}