.dummy-avatar {
	margin-top: 7em;
	text-align: center;
}

.dummy-avatar > div {
	display: inline-block;
	margin: 0 1em;
}

.dummy-avatar a {
	margin: 0 auto;
	display: block;
	text-align: center;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.dummy-avatar a img {
	border-radius: 50%;
}

.dummy-avatar a h4 {
	margin: 0.25em 0;
	line-height: 1;
	font-size: 1.75em;
	font-weight: 400;
	color:#3b5998;
}


@media screen and (max-width: 27em) {
	.codrops-icon {
		font-size: 1.5em;
	}
	.codrops-icon span {
		display: none;
	}
}